<div class="container h-100">
  <div class="d-flex align-items-start flex-column h-100">
    <div class="w-100 mb-auto py-5">


      <div class="row my-8">
        <div class="col-12 col-md-8 text-center mb-3">
          <h3>Opcao com ngModel, porem nao esta funcionando</h3>
          <p>so da certo se for com o ngAfterViewInit, mas nao consigo colocar o bind do => ngModel, conseguiria me ajudar, por favor?</p>

          <select
              [(ngModel)]="selectedValue"
              class="
                    form-control
                    form-control-chosen"
                  >
            <option></option>
            <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
          </select>

          <pre>
              <br>
              {{ selectedValue | json }}
          </pre>

        </div>
      </div>
      <hr>


      <div class="row my-8">
          <div class="col-12 col-md-8 text-center mb-3">
            <h3>Opcao com ngModel, e o bind funcionando</h3>
            <p>so que tenho que mover a classe que toda a MÁGICA! (form-control-chosen)</p>

            <select
                [(ngModel)]="selectedValue2"
                class="form-control">
              <option></option>
              <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
            </select>

            <pre>
                <br>
                {{ selectedValue2 | json }}
            </pre>

          </div>
        </div>
        <hr>

    </div>
  </div>
</div>
